/* 3D Wobble Animation for Title */
@keyframes titleWobble {
  0% {
    transform: perspective(800px) rotateY(0deg) rotateX(0deg);
  }
  15% {
    transform: perspective(800px) rotateY(12deg) rotateX(-3deg);
  }
  30% {
    transform: perspective(800px) rotateY(-12deg) rotateX(3deg);
  }
  45% {
    transform: perspective(800px) rotateY(8deg) rotateX(-2deg);
  }
  60% {
    transform: perspective(800px) rotateY(-8deg) rotateX(2deg);
  }
  75% {
    transform: perspective(800px) rotateY(4deg) rotateX(-1deg);
  }
  90% {
    transform: perspective(800px) rotateY(-2deg) rotateX(1deg);
  }
  100% {
    transform: perspective(800px) rotateY(0deg) rotateX(0deg);
  }
}

.title-wobble {
  animation: titleWobble 1s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.title-wobble:active {
  transform: perspective(800px) rotateY(5deg) scale(0.98);
}
